body{
  font-family: 'Roboto', sans-serif;
}
.right-side{
  background-image: url('./img/image.png');
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;

}
.body-bg{
  background-color: #000000;
  height: 100vh;
}
.text{
  font-size: 1.9rem;
  font-weight: 200!important;
}
.link{
  color: #FF736E!important;
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
}
#congratulate{
  background-image: url('./img/bg-form.svg');
  background-size: contain;
  height: 100vh;
}
.text-red{
  color: #FE0000;
}
.top{
  margin-top: -20px!important;
}
.font-100{
  font-size: 68px!important;
}
.col-body{
top: 150px;
left: 170px
}
.btn-submit{
  background: #D70900;
}
.message{
  line-height: 2;
  letter-spacing: 1.3px;
  font-weight: 200!important;
}

@media (max-width: 767.98px) { 
  .col-body{
    top: 220px;
    left: 110px;
    padding:0rem!important;
    }

      
}

@media (max-width: 575.98px) { 
  .mobile-pad{
    padding: 1rem 1rem!important;
  }
  .text, .link{
    padding: 0rem!important;
  }
  .right-side{
    order: first!important;
  }
  .mobile-bg{
    background: #000000;
  }
 }
@media (max-width: 1720.98px) { 
  
}