body{
  font-family: 'Roboto', sans-serif;
}

.body-bg{
  background-color: #000000;
  height: 100vh;
}
.text{
  font-size: 1.9rem;
  font-weight: 200!important;
}
.link{
  color: #FF736E!important;
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
}
.link:hover{
  color: #FF736E!important;
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
}

.text-red{
  color: #FE0000;
}
.top{
  margin-top: -20px!important;
}
.font-100{
  font-size: 68px!important;
}
.col-body{
top: 150px;
left: 170px
}
.btn-submit{
  background: #D70900;
}
.message{
  line-height: 2;
  letter-spacing: 1.3px;
  font-weight: 200!important;
}

@media (max-width: 767.98px) { 
  .col-body{
    top: 220px;
    left: 110px;
    padding:0rem!important;
    }

      
}

@media (max-width: 575.98px) { 
  .mobile-top{
    padding-top: 0rem!important;
  }
  .mobile-pad{
    padding: 2.5rem 1rem!important;
  }
  .text, .link{
    padding: 0rem!important;
  }
  .right-side{
    order: first!important;
  }
  .mobile-bg{
    background: #000000;
  }
 }
@media (max-width: 1400.98px) { 
  .text{
    font-size: 1.6rem;
    font-weight: 200!important;
  }
}

